<div class="container">
    <div class="row">
      <div class="col-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Correo electronico" aria-label="Correo electronico" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="telefono" aria-label="telefono" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Sujeto" aria-label="Sujeto" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <textarea class="form-control"  placeholder="Mensaje"  aria-label="With textarea"></textarea>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-info">Enviar</button>
        </div>

      </div>  
    </div>
</div>